<h1 class="mdc-typography--headline">MDC-Ember Demos</h1>

{{#if isDemoVisible}}

<section class="component-doc">
  <h2 class="mdc-typography--title">Buttons</h2>
  {{#mdc-button}}Standard Button{{/mdc-button}}
  {{#mdc-button disabled=true click=(action "alert" "Should not see this.")}}Disabled Button{{/mdc-button}}
  {{#mdc-button accent=true}}Accent Button{{/mdc-button}}
  {{#mdc-button raised=true}}Raised Button{{/mdc-button}}
  {{#mdc-button raised=true accent=true}}Raised Accent Button{{/mdc-button}}
  {{#mdc-button click=(action "alert" "Action button clicked")}}Action Button{{/mdc-button}}
  <form class="tiny-form" onsubmit={{action "alert" "Form Submitted"}}>
    {{#mdc-button type="submit"}}Submit Button{{/mdc-button}}
  </form>
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Cards</h2>
  {{#mdc-card as |card|}}
    {{#card.primary}}
      {{#card.title}}
        Card Title
      {{/card.title}}
      {{#card.subtitle}}
        Card Subtitle
      {{/card.subtitle}}
    {{/card.primary}}
    {{card.media-item src="http://placekitten.com/960/480" size=3 width=480 alt="Kitten"}}
    {{#card.supporting-text}}
      Please note that the API for cards is planned to change. Currently, every sub-component is
      a property on the hash yielded from <code>\{{#mdc-card}}</code>. This does not follow the newer
      convention of yielding from the component or sub-component it should be directly nested within.
      For example, <code>card.title</code> should be on the hash yielded by <code>card.primary</code>,
      not on the hash yielded by <code>mdc-card</code> directly.
    {{/card.supporting-text}}
    {{#card.actions}}
      {{#card.action}}
        Example Action
      {{/card.action}}
      {{#card.action click=(action "alert" "Alert action clicked")}}
        Alert Action
      {{/card.action}}
    {{/card.actions}}
  {{/mdc-card}}
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Checkboxes</h2>
  <label>
    {{mdc-checkbox checked=isCheckboxOneChecked onchange=(action (mut isCheckboxOneChecked))}}
    Checkbox
  </label>
  <label>
    {{mdc-checkbox indeterminate=true disabled=true onchange=(action "alert" "Should not see this.")}}
    Disabled Indeterminate Checkbox
  </label>
  {{mdc-checkbox input-id="checkbox-for" checked=isCheckboxTwoChecked onchange=(action (mut isCheckboxTwoChecked))}}
  <label for="checkbox-for">Disassociated Label Checkbox</label>
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Radios</h2>
  <label>
    {{mdc-radio checked=isRadioOneChecked onchange=(action (mut isRadioOneChecked))}}
    Radio
  </label>
  <label>
    {{mdc-radio disabled=true onchange=(action "alert" "Should not see this.")}}
    Disabled Radio
  </label>
  {{mdc-radio input-id="radio-for" checked=isRadioTwoChecked onchange=(action (mut isRadioTwoChecked))}}
  <label for="radio-for">Disassociated Label Radio</label>
  <fieldset>
    Radio group with shared <code>name</code> attribute:
    <label>
      {{mdc-radio name="radio-three" checked=isRadioThreeAChecked onchange=(action (mut isRadioThreeAChecked))}}
      A
    </label>
    <label>
      {{mdc-radio name="radio-three" checked=isRadioThreeBChecked onchange=(action (mut isRadioThreeBChecked))}}
      B
    </label>
    <label>
      {{mdc-radio name="radio-three" checked=isRadioThreeCChecked onchange=(action (mut isRadioThreeCChecked))}}
      C
    </label>
  </fieldset>
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Elevation</h2>
  {{#mdc-elevation z=7}}Elevation Depth 7{{/mdc-elevation}}
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Floating Action Buttons</h2>
  {{#mdc-fab click=(action "alert" "Stop clicked")}}
    <i class="material-icons">stop</i>
  {{/mdc-fab}}
  {{#mdc-fab plain=true}}
    <i class="material-icons">play_arrow</i>
  {{/mdc-fab}}
  {{#mdc-fab disabled=true click=(action "alert" "Should not see this.")}}
    <i class="material-icons">pause</i>
  {{/mdc-fab}}
  {{#mdc-fab mini=true}}
    <i class="material-icons">replay</i>
  {{/mdc-fab}}
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Text Fields</h2>

  TODO: Bug with placeholder + label.

  {{mdc-textfield
    label="Email Address"
    placeholder="something@example.com"
    value=textfieldOneValue
    onchange=(action (mut textfieldOneValue))
    type="email"
    helptext="This will not be sent to any server"
  }}

  {{mdc-textfield
    label="Recipient Email"
    value="bad@email@example.com"
    valid=false
    helptext="This does not look like a valid email address"
    helptext-validation-msg=true
  }}

  {{mdc-textfield
    label="Subject"
    disabled=true
    value=textfieldThreeValue
    onchange=(action (mut textfieldThreeValue))
    helptext="This is persistent help text, and the field is disabled"
    helptext-persistent=true
  }}

  {{mdc-textfield
    label="Message Body"
    value=textfieldTwoValue
    onchange=(action (mut textfieldTwoValue))
    multiline=true
    rows=12
    cols=80
  }}
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Icon Toggles</h2>

  TODO: The ripple looks odd here. <br />

  {{#mdc-icon-toggle
    pressed=isFirstTogglePressed
    onchange=(action (mut isFirstTogglePressed))
    class="material-icons"
  }}
    {{#if isFirstTogglePressed}}
      star
    {{else}}
      star_border
    {{/if}}
  {{/mdc-icon-toggle}}
  {{#if isFirstTogglePressed}}
    Unstar it.
  {{else}}
    Star it!
  {{/if}}

  <br />
  {{#mdc-icon-toggle pressed=true disabled=true class="material-icons" onchange=(action "alert" "Should not see this.")}}
    star
  {{/mdc-icon-toggle}}
  Disabled.
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Menu</h2>

  {{#mdc-menu-anchor as |anchor|}}
    {{#mdc-icon-toggle class="material-icons" pressed=isMenuOneOpen onchange=(action (mut isMenuOneOpen))}}
      more_vert
    {{/mdc-icon-toggle}}
    {{#mdc-menu anchor=anchor open=isMenuOneOpen cancel=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu canceled"))) as |menu|}}
      {{#menu.item click=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item one clicked!")))}}
        Menu Item One
      {{/menu.item}}
      {{#menu.item click=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item two clicked!")))}}
        Menu Item Two
      {{/menu.item}}
      {{#menu.item click=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item three clicked!")))}}
        Menu Item Three
      {{/menu.item}}
    {{/mdc-menu}}
  {{/mdc-menu-anchor}}
</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Progress Bar</h2>

  <h3 class="mdc-typography--subheading2">Linear Progress Determinate</h3>
  {{mdc-linear-progress progress=myProgress}}

  <h3 class="mdc-typography--subheading2">Linear Progress Indeterminate</h3>
  {{mdc-linear-progress indeterminate=true}}

  <h3 class="mdc-typography--subheading2">Linear Progress Determinate Accented</h3>
  {{mdc-linear-progress accent=true}}

</section>

<section class="component-doc">
  <h2 class="mdc-typography--title">Tab Bar</h2>

  <h3 class="mdc-typography--subheading2">Action-based tabs</h3>
  {{#mdc-tab-bar links=false as |bar|}}
    {{#bar.tab active=isFirstActive become-active=(action (mut isFirstActive))}}
      Fruits
    {{/bar.tab}}
    {{#bar.tab active=isSecondActive become-active=(action (mut isSecondActive))}}
      Vegetables
    {{/bar.tab}}
    {{#bar.tab active=isThirdActive become-active=(action (mut isThirdActive))}}
      Meats
    {{/bar.tab}}
  {{/mdc-tab-bar}}

  <h3 class="mdc-typography--subheading2">Tabs with icons and labels</h3>
  {{#mdc-tab-bar icons="with-text" links=false as |bar|}}
    {{#bar.tab active=isFirstActiveAlt become-active=(action (mut isFirstActiveAlt)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">people</i>{{/tab.icon}}
      {{#tab.icon-text}}People{{/tab.icon-text}}
    {{/bar.tab}}
    {{#bar.tab active=isSecondActiveAlt become-active=(action (mut isSecondActiveAlt)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">credit_card</i>{{/tab.icon}}
      {{#tab.icon-text}}Money{{/tab.icon-text}}
    {{/bar.tab}}
    {{#bar.tab active=isThirdActiveAlt become-active=(action (mut isThirdActiveAlt)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">shopping_cart</i>{{/tab.icon}}
      {{#tab.icon-text}}Things{{/tab.icon-text}}
    {{/bar.tab}}
  {{/mdc-tab-bar}}

  <h3 class="mdc-typography--subheading2">Tabs with icons</h3>
  {{#mdc-tab-bar icons="only" links=false as |bar|}}
    {{#bar.tab active=isFirstActiveAlt2 become-active=(action (mut isFirstActiveAlt2)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">people</i>{{/tab.icon}}
    {{/bar.tab}}
    {{#bar.tab active=isSecondActiveAlt2 become-active=(action (mut isSecondActiveAlt2)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">credit_card</i>{{/tab.icon}}
    {{/bar.tab}}
    {{#bar.tab active=isThirdActiveAlt2 become-active=(action (mut isThirdActiveAlt2)) as |tab|}}
      {{#tab.icon}}<i class="material-icons">shopping_cart</i>{{/tab.icon}}
    {{/bar.tab}}
  {{/mdc-tab-bar}}

  <h3 class="mdc-typography--subheading2">Tabs as <code>\{{link-to}}</code></h3>
  {{#mdc-tab-bar as |bar|}}
    {{#bar.tab "application"}}
      Index
    {{/bar.tab}}
    {{#bar.tab "one"}}
      One
    {{/bar.tab}}
    {{#bar.tab "two"}}
      Two
  {{/bar.tab}}
  {{/mdc-tab-bar}}

  {{outlet}}
</section>

{{/if}}

{{#mdc-button class="toggle-demo-visibility" click=(action (toggle "isDemoVisible" this))}}Toggle visibility{{/mdc-button}}
